<div class="card mt-3">
    <div class="card-body">

        {% if payload.get_payload %}
            <div class="form-label mb-2">GET</div>
            {% for name, value in payload.get_payload.items %}
                <div class="row detail-row">
                    <div class="col">
                        <strong>{{ name }}:</strong>
                        <code>{{ value }}</code>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-muted">No GET Payload</div>
        {% endif %}

        {% if payload.post_payload %}
            <div class="form-label mb-2 mt-3">POST</div>
            {% for name, value in payload.post_payload.items %}
                <div class="row detail-row">
                    <div class="col">
                        <strong>{{ name }}:</strong>
                        <code>{{ value }}</code>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-muted mt-3">No POST Payload</div>
        {% endif %}

    </div>
</div>