<div class="card shadow-sm border-light" hx-get="{{ panel.get_list_url }}" hx-trigger="every 5s" hx-swap="outerHTML">
    <div class="card-header">
        <h5 class="card-title">Events</h5>
    </div>
    <div class="card-body">
        {% if not events %}
            <div class="text-light-grey">No events found</div>
        {% else %}
            <table class="table table-dashed table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Tags</th>
                    <th scope="col" class="text-end">Happened</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.data.name|default:'(unnamed)' }}</td>
                    <td>
                        <span class="badge bg-secondary">{{ event.data.level|default:'info' }}</span>
                    </td>
                    <td>
                        {% if event.data.tags %}
                            {{ event.data.tags|join:', ' }}
                        {% else %}
                            <span class="text-muted">-</span>
                        {% endif %}
                    </td>
                    <td class="text-end">{{ event.created_at|timesince }} ago</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
