<div class="card" hx-get="{% url 'sonar_exceptions' %}" hx-trigger="every 5s" hx-swap="outerHTML">
    <div class="card-header">
        <h5 class="card-title">Exceptions</h5>
    </div>
    <div class="card-body">
        {% if not exceptions %}
            <div class="empty-state">
                <i class="bi bi-bug"></i>
                <div>No exceptions found</div>
            </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">File/Line</th>
                    <th scope="col">Function</th>
                    <th scope="col">Happened</th>
                    <th class="w-50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for exception in exceptions %}
                <tr>
                    <td>{{ exception.data.exception_message }}</td>
                    <td><code>{{ exception.data.file_name }}:{{ exception.data.line_number }}</code></td>
                    <td>{{ exception.created_at|timesince }}</td>
                    <td>
                        <a class="btn btn-sm btn-icon btn-primary">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
</div>